USE [master]
GO
/****** Object:  Database [SGI]    Script Date: 29/04/2019 17:27:00 ******/
CREATE DATABASE [SGI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SGI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SGI.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SGI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SGI_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SGI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SGI]
GO
/****** Object:  Table [dbo].[Membro]    Script Date: 29/04/2019 17:27:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Membro](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Departamento] [nvarchar](50) NOT NULL,
	[Nucleo] [nvarchar](50) NOT NULL,
	[NucleoAbreviacao] [nvarchar](10) NOT NULL,
	[Cargo] [nvarchar](50) NOT NULL,
	[Pessoa_Id] [int] NOT NULL,
 CONSTRAINT [PK_Membro] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MembroHistorico]    Script Date: 29/04/2019 17:27:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembroHistorico](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Departamento] [nvarchar](50) NOT NULL,
	[Nucelo] [nvarchar](50) NOT NULL,
	[Cargo] [nvarchar](50) NOT NULL,
	[Pessoa_Id] [int] NOT NULL,
	[CriadoPorId] [int] NOT NULL,
	[CriadoEm] [date] NOT NULL,
 CONSTRAINT [PK_MembroHistorico] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pessoa]    Script Date: 29/04/2019 17:27:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Idade] [int] NOT NULL,
	[Sexo] [nvarchar](15) NOT NULL,
	[CPF] [nvarchar](11) NOT NULL,
	[RG] [nvarchar](10) NOT NULL,
	[Endereco] [nvarchar](100) NOT NULL,
	[Bairro] [nvarchar](50) NULL,
	[Cidade] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Curso] [nvarchar](50) NOT NULL,
	[SemestreAtual] [int] NOT NULL,
	[SemestreEntrada] [int] NOT NULL,
 CONSTRAINT [PK_Pessoa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Membro]  WITH CHECK ADD  CONSTRAINT [FK_Membro_Pessoa] FOREIGN KEY([Pessoa_Id])
REFERENCES [dbo].[Pessoa] ([Id])
GO
ALTER TABLE [dbo].[Membro] CHECK CONSTRAINT [FK_Membro_Pessoa]
GO
ALTER TABLE [dbo].[MembroHistorico]  WITH CHECK ADD  CONSTRAINT [FK_MembroHistorico_Pessoa] FOREIGN KEY([CriadoPorId])
REFERENCES [dbo].[Pessoa] ([Id])
GO
ALTER TABLE [dbo].[MembroHistorico] CHECK CONSTRAINT [FK_MembroHistorico_Pessoa]
GO
USE [master]
GO
